/nbproject/private/
/pdepend
/phpcbf
/phpcs
/phpmd
/composer
/apigen
/php-token-stream/
/debian/netbeans-php-support/
/debian/netbeans-php-tools/
/phpcpd
/phpunit-skelgen
/php-cs-fixer
/debian/netbeans-php-tools.substvars