[Desktop Entry]
Version=1.0
Type=Application

Name=NetBeans xdebug helper
Comment=Open Xdebug error link in netbeans
Categories=Development;IDE;

Icon=nbxdebug
Exec=nbxdebug
Terminal=false

