Source: netbeans-php-support
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper (>= 9), git, php5-cli,wget
Standards-Version: 3.9.5
Homepage: https://github.com/Vitexus/netbeans-php-support
Vcs-Git: git@github.com:Vitexus/netbeans-php-support.git
Vcs-Browser: https://github.com/Vitexus/netbeans-php-support

Package: netbeans-php-support
Architecture: all
Depends: ${misc:Depends}, pear-channels,php5-cli, php5-xdebug, phpunit
Description: Various supporting tools for full value PHP development.
 Netbeans 8.0.2 give you powerful IDE for all kinds of good practices
 testing, profiling, documentation, code coverage etc.
