#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@ 

# debmake generated override targets
# This is example for Cmake (See http://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)


override_dh_auto_clean:
	rm -rf php-token-stream
	rm -f composer
	rm -f pdepend
	rm -f phpmd
	rm -f phpcs
	rm -f phpcbf
	rm -f php-cs-fixer
	rm -f phpcpd
	rm -f phpunit-skelgen
	dh_auto_clean

override_dh_auto_build:
	curl -sS https://getcomposer.org/installer | php
	chmod +x composer.phar
	mv composer.phar composer
	wget http://static.pdepend.org/php/latest/pdepend.phar
	mv pdepend.phar pdepend
	chmod +x pdepend
	wget -c http://static.phpmd.org/php/latest/phpmd.phar
	mv phpmd.phar phpmd
	chmod +x phpmd     
	wget http://apigen.org/apigen.phar
	chmod +x apigen.phar
	mv apigen.phar apigen    
	curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
	mv phpcs.phar phpcs
	chmod +x phpcs
	curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcbf.phar
	mv phpcbf.phar phpcbf
	chmod +x phpcbf
	git clone https://github.com/sebastianbergmann/php-token-stream.git
	wget http://get.sensiolabs.org/php-cs-fixer.phar -O php-cs-fixer
	chmod +x php-cs-fixer        
	wget https://phar.phpunit.de/phpcpd.phar
	chmod +x phpcpd.phar
	mv phpcpd.phar phpcpd
	wget https://phar.phpunit.de/phpunit-skelgen.phar
	chmod +x phpunit-skelgen.phar
	mv phpunit-skelgen.phar phpunit-skelgen
	dh_auto_build
   



 