#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	dh $@ 

# debmake generated override targets
# This is example for Cmake (See http://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)


override_dh_auto_clean:
	rm -rf php-token-stream
	rm -f bin/phpcs
	rm -f bin/phpcbf
	rm -f bin/php-cs-fixer
	rm -f bin/phpcpd
	rm -f bin/phpunit-skelgen
	rm -f bin/phar-composer
	dh_auto_clean

override_dh_auto_build:
	git clone https://github.com/sebastianbergmann/php-token-stream.git
	wget https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar -O bin/phpcs
	wget https://squizlabs.github.io/PHP_CodeSniffer/phpcbf.phar -O bin/phpcbf
	wget http://get.sensiolabs.org/php-cs-fixer.phar -O bin/php-cs-fixer
	wget https://phar.phpunit.de/phpcpd.phar -O bin/phpcpd
	wget https://phar.phpunit.de/phpunit-skelgen.phar -O bin/phpunit-skelgen
	wget https://github.com/clue/phar-composer/releases/download/v1.0.0/phar-composer.phar -O bin/phar-composer
        wget https://github.com/phpstan/phpstan/releases/download/0.10.1/phpstan.phar -O bin/phpstan
	chmod +x bin/*
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
